@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@100;300;400;500;700;900&family=Rubik&display=swap');

:root {

    --base-font-family: "Roboto", Arial, Helvetica, sans-serif;

    --MAIN-TEXT-color: #323232;
    /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #323232;
    /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: #6638b8;
    /* Color of links */
    --MAIN-LINK-HOVER-color: #6638b8;
    /* Color of hovered links */
    --MAIN-ANCHOR-color: #1C90F3;
    /* color of anchors on titles */
    --MENU-HEADER-BG-color: #6638B8;
    /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #fff;
    /*Color of menu header border */


    --MENU-SEARCH-BG-color: #167ad0;
    /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #fff;
    /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd;
    /* Override search field icons color */

    --HOMELINK-color: #f2f4f7;
    --HOMELINK-HOVER-color: #fff;



    --MENU-SECTIONS-ACTIVE-BG-color: #fff;
    /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: #fff;
    /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #555;
    /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #000;
    /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #6638b8;
    /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff;
    /* Color of background for the active category (only) */

    --MENU-VISITED-color: #6638b8;
    /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b;
    /* Color of <hr> separator in menu */

    --MAIN-BODY-BG-color: #f5f5f5;

}

.container-fluid {
    top: 68px;
    padding-top: 36px;
    padding-left: 31px;
    padding-right: 31px;
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}



#sidebar {
    background-color: var(--MAIN-BODY-BG-color);
    font-size: 16px;
    width: 354px;
    top: 68px;
    z-index: 0;
}


#header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: #fff !important;
    border: none;
    z-index: 100;
}

.nav a {
    color: var(--HOMELINK-HOVER-color)
}


.polygon {
    z-index: -1;
}

#footer,
#header-wrapper {
    width: 100vw;
    height: 68px;
    z-index: 1;
    margin: 0;
    color: #fff !important;

}

#logo {
    font-family: 'Rubik';
    font-style: normal;
    color: #FFFFFF !important;
    position: absolute;
    left: 12px;
    top: 12px;
    text-decoration: none;
}

#logo h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    color: #FFFFFF !important;
    position: relative;
    left: 0%;
    text-decoration: none
}


.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: var(--MAIN-LINK-color);
}

.nav-pills>li>a {
    background-color: var(--HOMELINK-color);
    color: #000;
    border-radius: 4px;
}

#header-wrapper #logo,
#header-wrapper #options {
    display: flex;
    align-items: center;
}


#header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

#header-wrapper a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}



.try-sp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    margin-left: 20px;
    margin-right: 24px;
    width: 120px;
    height: 44px;

    background: #F0EBF8;

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 4px;

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #412476;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    border: inherit;
}

#sidebar .introduction {
    padding-left: 27px;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#sidebar ul.introduction.active a {
    font-weight: 500;
    color: #000;
}


#sidebar ul li {
    padding-left: 27px;

}

#sidebar ul.topics {
    margin: 0;
    padding-right: 1rem;

}

#sidebar ul li li {
    font-size: 14px;
}

#sidebar ul.topics>li>a {
    font-size: 16px;
}

.collapse {
    display: none;
}

.icon {
    fill: #fff;
}

#top-sidebar-toggle-span {
    padding-right: 0.5rem !important;
    margin-right: 1rem !important;
}

#top-sidebar-toggle-span #top-sidebar-toggle {
    line-height: 40px;
    vertical-align: middle;
    display: none;
}

@media only all and (max-width: 958px) {
    #sidebar {
        /* width: 0px; */
        left: -354px;
    }

    #top-sidebar-toggle-span #top-sidebar-toggle {
        display: inline;
    }

    #body .nav.nav-next,
    #body .nav.nav-prev {
        display: table-cell;
        ;
    }

    #sidebar #header-wrapper {
        right: 0px
    }

    #top-breadcrumbs {
        display: none;
    }

    #body {
        margin-left: 0;
        padding-top: 0;
        top: 68px;
    }

    .body {
        height: 100vh;

    }

    #body .padding {
        padding-top: 28px;
    }

    #body-inner {
        margin: 0;
    }

    .sidebar-hidden {
        overflow: hidden;
    }

    .sidebar-hidden #sidebar {
        left: 0;
    }

    .sidebar-hidden #body {
        margin-left: 380px;
        overflow: hidden;
    }

    .sidebar-hidden #overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        background: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }

    #sidebar-toggle-span {
        display: none;
    }
}


@media only all and (max-width: 790px) {

    #header-wrapper #options .select-style,
    #header-wrapper #options .hide {
        display: none;
    }

    .collapse {
        display: block !important;
    }

    .polygon {
        display: none;
    }
}

@media only all and (max-width: 580px) {
    #body .padding {
        top: 72px;
        padding-left: 0;
        padding-right: 0;
    }

    .try-sp {
        display: none;
    }
}

@media only all and (max-width: 580px) {
    #logo img {
        height: 15px !important;
    }

    #logo h1 {
        font-size: 20px;

    }
}

@media only all and (max-width: 333px) {
    #logo img {
        height: 12px !important;
        top: 14px !important;
    }

    #logo h1 {
        font-size: 18px;

    }
}

#top-breadcrumbs {
    border-radius: 2px;
    padding: 0 1rem;
    background: #F0EBF8;
    font-size: 14px;
    min-height: 40px;
    height: 2rem;
    margin-bottom: 1rem;
}

.is-sticky {
    display: none;
}

.select-style {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    min-width: 100px;
    width: auto;
}

.select-style select {
    width: auto;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
}

.copy-to-clipboard {
    background-image: url(../images/leadingIcon.svg);
    background-position: 10% 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 75px;
    height: 30px !important;
    /* bottom: -1px !important; */
    vertical-align: middle;
    text-align: right;
    position: absolute;
    color: #6638B8;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    padding-right: 12px;
    background-color: #FFF7DD;
    margin-left: -.2rem;
    cursor: pointer;
    margin: 0;
    /* border-radius: 0 2px 2px 0; */
}

.copy-to-clipboard:hover {
    background-color: #E8E2CD;
}

pre .copy-to-clipboard {
    position: sticky;
    float: right;
    right: 8px;
    top: auto;
    bottom: 8px !important;
    background-color: #6638B8;
    ;
    color: #fff;
    border-radius: 4px;
}

pre .copy-to-clipboard:hover {
    background-color: #734eb2;
    color: #fff;
}

.mermaid .section0,
.mermaid .section2 {
    fill: #fff !important;
}

.mermaid .sectionTitle {
    font-family: 'Roboto' !important;
    font-weight: 400;
}

.mermaid .task0,
.mermaid .task1,
.mermaid .task2,
.mermaid .task3 {
    fill: #d9c8f6 !important;
    stroke: #6638b8 !important;
    color: #000 !important;
}

.mermaid .taskText0,
.mermaid .taskText1,
.mermaid .taskText2,
.mermaid .taskText3,
.mermaid .taskText4 {
    fill: #000 !important;
}

code {
    background: #efefef;
    border: none;
    color: #000;
    vertical-align: middle;
}


#body .recommendation-panel {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 32px;
}

#body .recommendation-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex start;
    margin: 1rem;
}

#body .recommendation-content .recommendation-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 45%; */
    width: 350px;
    height: 260px;
    color: #000;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px
}

.pill {
    background-color: #6638b8;
    color: #fff;
    border-radius: 13px;
    height: 26px;
    padding: 3px 12px 3px 12px;
}

.foundation {
    background-color: green;
}

.intermediate {
    background-color: orange;
    color: #000;
}

.advanced {
    background-color: red;
    color: #000;
}

button::first-letter {
    text-transform: uppercase;
}